body {
      margin: 0;
      height: 100vh;
      background-color: pink;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      background-color: red;
      color: black;
      font-size: 2em;
      font-weight: bold;
      padding: 10px 20px;
    }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  /* .box {
    background-color: orange;
    width: 100%;
  } */


   
  @media only screen and (max-width: 600px) {
    .box {
      background-color: black;
      width: 100%;
      text-align: center;
    }
  }
  @media only screen and (min-width: 600px) {
    .box {
      background-color: blue;
      width: 50%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .box {
      background-color: red;
      width: 44%;
    }
  }