{
    margin: 0;
}
.container{
    margin:auto;
    width: 100%;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: black;
    padding: 10px;
}
li{
    display: inline-block;
    font-size: 20px;
    padding:5px;
}