* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;/* to get the box in center*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  text-align: center;
}

.container {
  padding: 20px 40px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: bisque;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}